<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <!-- ngIf @if -->
  <div class="bg-white rounded shadow p-10">

    <h2 class="text-2xl font-bold mb-5">if: {{showContent()}}</h2>
    <button
      class="p-2 bg-blue-500 rounded text-white"
      (click)="toggleContent()">
      Click me!
    </button>

    @if (showContent()) {
      <p>Hola mundo</p>
    } @else {
      <p>*********</p>
    }

  </div>

  <!-- @switch -->
  <div class="bg-white rounded shadow p-10">

    <h2 class="text-2xl font-bold mb-5">{{grade()}}</h2>

    @switch (grade()) {
      @case ('A') {
        <p>Arriba de 90 (A)</p>
      }
      @case ('B') {
        <p>Arriba de 80 (B)</p>
      }
      @default {
        <p>Suspenso (F)</p>
      }
    }

  </div>

  <!-- @for -->
  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">For</h2>

    <ul>
      @for (framework of frameworks(); track $index;
        let first = $first, last = $last, even = $even, odd = $odd, count = $count) {
        <li [class]="{
          'bg-red-100': even && !first && !last,
          'bg-purple-100': odd && !first && !last,
          'bg-blue-100': first || last,
          }"
        >
          {{$index + 1}}/{{count}} - {{framework}}
        </li>
      }
    </ul>
  </div>

  <div class="bg-white rounded shadow p-10">
    <h2 class="text-2xl font-bold mb-5">For</h2>

    <ul>
      @for (framework of frameworks2(); track $index) {
        <li>{{framework}}</li>
      } @empty {
        <p>No hay frameworks disponibles</p>
      }
    </ul>
  </div>

</section>
